@{
    ViewBag.Title = "Quiz";
    Layout = "~/Views/Shared/_LayoutQuiz.cshtml";
}

@model WzorceProjektowe.Models.QuizSettingsModel
           

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <h1>
   Rozwiąż quiz
    </h1>
    @for (int i = 0; i < @Model.Quiz.Questions.Count; i++)
    {
        if (@Model.Quiz.Questions[i].Img == null)
        {
        <div>
         <p> @Model.Quiz.Questions[i].Text</p>

          @for (int j = 0; j < @Model.Quiz.Questions[i].Answers.Count; j++)
         {
                 @Html.RadioButtonFor(quiz => @Model.Quiz.Questions[i].UserAnswer, j)@Model.Quiz.Questions[i].Answers.ElementAt(j)<br />
         }</div>
        }
        else
        {
        <div>
         <p> @Model.Quiz.Questions[i].Text</p>
          <div><p><img src="@Model.Quiz.Questions[i].Img"/></p></div>   
          @for (int j = 0; j < @Model.Quiz.Questions[i].Answers.Count; j++)
         {
            @Html.RadioButtonFor(quiz => @Model.Quiz.Questions[i].UserAnswer, j)@Model.Quiz.Questions[i].Answers.ElementAt(j)<br />
         }</div>

        }
    }
</body>
</html>
