@{
    ViewBag.Title = "Wzorce projektowe: statystyki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WzorceProjektowe.Models.GlobalStatisticsModel
           
<h2>@ViewBag.Message</h2>

<h3>Globalne</h3>

<table>
    <tr>
        <th>Użytkownik</th>
        <th>Średni wynik</th>
    </tr>
    @foreach (var entry in Model.HighScoreEntries)
    {
        <tr>
            <td>@entry.Name</td>
            <td>@entry.Result.ToString("F2")</td>
        </tr>
    }
</table>

<h3>Lokalne</h3>

<table>
    <tr>
        <th>Poziom</th>
        <th>Wynik</th>
    </tr>
    @foreach (var entry in Model.DifficultyHighscoreEntries)
    {
        <tr>
            <td>@entry.Name</td>
            <td>@entry.Result.ToString("F2")</td>
        </tr>
    }
</table>